<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
</head>

<template id="content-template">
  <div class="content">
    <h1 class="title">
      Vanilla&nbsp;<span class="logo-text">TS</span> template
    </h1>
    <p class="sub-title">Figma Plugin CLI</p>
  </div>
</template>

<main class="main">
  <img
    width="160"
    height="160"
    src="./logo.png"
    alt="javascript logo"
    class="logo"
  />
  <div id="content-container"></div>
</main>

<script src="./index.ts" type="module" defer></script>
