*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 24px;

  height: 100%;
  width: 100%;
  background-color: var(--figma-color-bg, #2c2c2c);

  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--figma-color-text, #ffffff);
}

.content {
  display: grid;
  place-content: center;
  gap: 16px;
}

.logo {
  width: 160px;
  height: 160px;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.logo-text {
  color: #358ef1;
}

.sub-title {
  font-size: 1.5rem;
  color: var(--figma-color-text-secondary, #ffffffb2);
}
